*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Dejavu Sans', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background: #1b1d21;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.knob {
  position: relative;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.knob-dial {
  width: 100%;
  height: 0.3rem;
  background: transparent;
  border-radius: 0.5rem;
  transform: rotate(0deg);
}

.dial {
  position: absolute;
  width: 35%;
  height: 120%;
  margin-left: 65%;
  border-radius: 0.5rem;
  background: #ac5;
}

.tick {
  position: absolute;
  width: 0.8rem;
  height: 0.13rem;
  background-color: rgb(84, 84, 84);
  border-radius: 0.1rem;
  transform: rotate(0deg);
}

.activetick {
  background-color: #ac5;
}

p {
  color: aquamarine;
  margin-bottom: 3rem;
}

.ticks {
  position: absolute;
  transform: rotate(90deg);
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}